#!/bin/bash
#
# Copyright (C) 2020 by SpEcHIDe@Github, < https://github.com/SpEcHIDe >.
#
# This file is part of < https://github.com/SpEcHIDe/PlayAStream > project,
# Please see < https://github.com/SpEcHIDe/PlayAStream/blob/master/COPYING >
#
# All rights reserved.

# Please read the README to understand each variable values.

# ----------- REQUIRED ----------- #
### Get these two values from my.telegram.org/apps OR Telegram @useTGxBot
# APP_ID=3919384
# API_HASH=93a530fdc1c5626bc58914ac9de1f990
### Get a String Session
# TG_BOT_SESSION=1AQAOMTQ5LjE1NC4xNzUuNTMBuyPao3twXRZBskskhGLkmdLGzuSHS6QrJr8Cq7GGuYQ1JBWvaVYOlHW7bmsUkW0fKYaKyB+RwU35xQQbBUzjG39lemgSM/yK7KwUDPz028V+XTvs1vcD13YfK2QHlTGPkMhFFuYJtpk0BbjxEErGqUgCyROKbw8rVpKEOXWfOLDaezCgzt5ARu75QaXQg/w6MuZuN+z8yG5jaAV1DBV335umdHD2EXfisE8FEFoXTRWUjQmNsQqakTEV+1JLZgeCx/RuOxkSePqitPvFoQG58OPEEpCclBpd1gAdWgKYs/kDqzW/vOl0mP90YcAJU8dCESLkLYRCWG25YsjynmSGkaE=
### who all should be allowed to use the User
# AUTH_USERS=287546210

# ----------- OPTIONAL VARIABLES ----------- #
# TG_BOT_WORKERS=
# LOG_FILE_ZZGEVC=GetSongs.log
# TEMP_DOWNLOAD_DIRS="./DLS/"
# TG_DUMP_CHAT=-100
# STREAM_STATION_ID=0
# COMMAND_HANDLER=!
# TG_M_STREAM_URL=# don't fill this if you don't know what this is
# SHOULD_DIS_ALLOW_PMS=ANYTHING

# ----------- CUSTOM STRINGS ----------- #
# START_ED_PROC_ING_MESG=
# END_ED_PROC_ING_MESG=

# ----------- CUSTOM COMMANDS ----------- #
# UN_MUTE_COMMAND_HNTTH=unmute
# MUTE_COMMAND_HNTTH=mute
# PLAY_COMMAND_HNTTH=play
# STOP_COMMAND_HNTTH=stop
# TG_RADIO_START_COMMAND_HTTNH=radiostart
# TG_RADIO_STOP_COMMAND_HTTNH=radiostop
